<IfModule mod_rewrite.c>
  Options -Indexes
  DirectoryIndex router.php

  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ router.php?action=$1 [QSA,L]
</IfModule>
